apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  labels:
    app: backend
  name: backend
  namespace: default
spec:
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: backend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: backend
    spec:
      containers:
      - env:
        - name: MONGO_USER_NAME
          valueFrom:
            configMapKeyRef:
              key: MONGO_USER_NAME
              name: backend-config-1d8f
        - name: MONGO_USER_PASSWORD
          valueFrom:
            configMapKeyRef:
              key: MONGO_USER_PASSWORD
              name: backend-config-1d8f
        - name: MONGO_URI
          valueFrom:
            configMapKeyRef:
              key: MONGO_URI
              name: backend-config-1d8f
        - name: DATABASE_NAME
          valueFrom:
            configMapKeyRef:
              key: DATABASE_NAME
              name: backend-config-1d8f
        - name: MONGO_APP_NAME
          valueFrom:
            configMapKeyRef:
              key: MONGO_APP_NAME
              name: backend-config-1d8f
        image: gcr.io/rustykube/github.com/mackarp/rustykube:latest
        imagePullPolicy: IfNotPresent
        name: rustykube-1
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
